html {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.hero {
  text-align: center;
}

.hero img {
  height: 2vh;
  width: auto;
}

.hero-main {
  font-size: 6vh;
  margin: 3vh;
}

.hero-desc {
  font-size: 2vh;
}

.selection {
  text-align: center;
}

.selection p {
  font-size: 2vh;
}

.tiles {
  display: flex;
  gap: 3vw;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 15vw;
  border: 3px solid black;
  border-radius: 20px;
}

.tile:hover {
  border: 5px solid gray;
}

.tile p {
  font-size: 2rem;
}

.bottom {
  text-align: center;
  margin: 10px;
}

.bottom p {
  font-size: 2vh;
}

#login {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  height: 4vh;
  font-size: 3vh;
}

#login:hover {
  background-color: rgb(224, 191, 0);
}

#logo-img {
  height: 200px;
  width: auto;
}

.icon {
  height: 150px;
  width: auto;
}

.tile,
#login {
  cursor: pointer;
}
